a {
    text-align: center;
}



.sidebar {
    background-image: linear-gradient(to top, rgb(255, 255, 255), #343a40);
    height: 100%;
    width: 9rem;
    position: fixed;
}

.sor_1,
.sor_2,
.sor_3 {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 8rem;
    width: 90%;
    height: fit-content;

}

.oszlop {
    flex: 33.33%;
    padding: 60px 30px 60px 30px;


}

.sidebar p {
    margin-top: 8rem;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.oszlop p{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top:5rem;
    font-size: 1.5rem;
}

div.oszlop img {
    width: 290px;
    height: 110%;
}

.forgat{
    margin: 30px;
    transform:rotate(-90deg);
}

img[src*="logo"]{
    height: 7vh;
}

footer{
    margin: auto;
    padding-top: 10px;
    text-align: center;
    background-color: #343a40;
    height: 48px;
}

footer a{
    color: white;
}
th{
    background-color:#343a40;
    color:white;
    width: 11%;
    height: 200px;
}
td{ 
    width:11%;
    background-color:#343a40e7;
    color:white;
}
table{
    width: 100%;
    font-size: 250%;
    text-align: center;
    border: 20px solid white;
}